.navBar {
  background-color: #1779db;
  color: rgb(11, 11, 11);
  padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.mobileMenu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgb(31, 6, 141);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.mobileMenu a {
  padding: 20px;
  font-size: 18px;
  color: #003366;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .links {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
